// Color Variables
$primary-color: #FF0043 !default;
$text-color: #343e51 !default;
$text-color-dark: #0a214c !default;
$text-color-light: #7e859d !default;
$body-color: #fff;
$border-color: #e2e8f0 !default;
$black: #000 !default;
$white: #fff !default;
$light: #f5f5f5 !default;