body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  &-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-title {
    margin-bottom: 40px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.rounded {
  border-radius: 12px !important;
}

.border-primary {
  border-color: $primary-color !important;
}

.shadow {
  box-shadow: 0 1px 40px 10px rgba(62, 62, 62, 0.1) !important;
}

.shadow-lg {
  box-shadow: 0 15px 15px rgba(52, 52, 52, 0.5) !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-light {
  color: $text-color-light !important;
}

.highlight {
  pre {
    padding: 15px 50px 15px 25px !important;
    border-radius: 0 5px 5px 0 !important;
    border-left: 5px solid $primary-color !important;
  }
}

iframe {
  max-width: 100%;
}

.font-weight-medium {
  font-weight: 700 !important;
}

.top-0 {
  top: 0;
}

.mark,
mark {
  padding: 0;
  background-color: inherit;
  text-decoration: underline;
  color: inherit;
}

:not(pre)>code {
  color: $text-color;
  background: darken($color: $light, $amount: 2);
  padding: 3px 8px;
  border-radius: 2px;
  font-size: 80%;
  vertical-align: middle;
}

.badge-primary {
  color: $white !important;
  background-color: $primary-color !important;
}

// ribbon
.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;

  span {
    position: absolute;
    display: block;
    width: 130%;
    padding: 5px 0;
    background-color: $primary-color;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: $white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    text-transform: uppercase;
    text-align: center;
    left: 7px;
    top: 7px;
    font-size: 80%;
    transform: rotate(37deg);
  }
}

// preview iframe
.bws-block {
  border-radius: 8px;
  overflow: hidden !important;
  @extend .shadow;
  margin-bottom: 30px;

  .bws-header {
    background: #ececec;
    padding: .25rem .5rem;
    position: relative;
    border-radius: 8px 8px 0 0;

    &::before {
      background: #FFBD2D;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 12px;
      left: 1.5rem;
      top: 1px;
      position: relative;
      width: 12px;
      box-shadow: -20px 0 0 #ff5f57, 20px 0 0 #29c940;
    }
  }

  .bws-actions {
    float: right;
    margin-right: 10px;

    a {
      border: 1px solid #dcdcdc;
      margin-left: 10px;
      text-decoration: none;
      color: $text-color;
      font-size: 80%;
      border-radius: 5px;
      padding: 0 8px;
      display: inline-block;
      height: 24px;
      line-height: 24px;

      &:hover {
        color: $primary-color;
        background-color: #dcdcdc;
      }
    }
  }

  .bws-content {
    height: 600px;
    overflow: hidden;

    @include desktop-xl {
      height: 535px;
    }

    iframe {
      border: 0;
      max-width: initial;
      width: 1270px;
      height: 1000px;
      transform: scale(0.6);
      transform-origin: 0 0;
      box-shadow: none !important;

      @include desktop-xl {
        width: 1200px;
        transform: scale(.535);
      }

      @include desktop-lg {
        width: 650px;
        height: 670px;
        transform: scale(.8);
      }

      @include desktop {
        width: 515px;
        height: 670px;
        transform: scale(0.8);
      }

      @include tablet {
        transform: scale(1);
        width: 100%;
        height: 100%;
      }
    }
  }
}