{{/* create collection */}}
{{ $collection := slice }}

{{/* parse variables */}}
{{ $template := resources.Get "js/variables.js" }}
{{ $variables := $template | resources.ExecuteAsTemplate "setup-variables.js" . }}
{{ $collection = $collection | append $variables }}

{{/* add configured plugins */}}
{{ range site.Params.plugins.js}}
{{ $collection = $collection | append (resources.Get .link) }}
{{ end }}

{{/* add global script */}}
{{ $collection = $collection | append (resources.Get "js/script.js") }}

{{/* add local script */}}
{{ $collection = $collection | append (resources.Get "js/local-script.js") }}

{{/* create and return javascript */}}
{{ $js := $collection | resources.Concat "script.js" | resources.Minify | resources.Fingerprint "sha384" }}
{{ return $js }}
