{{ "<!-- navigation -->" | safeHTML }}
<header class="sticky-top navigation {{if .IsHome}}home-nav{{end}}">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent justify-content-between">
      <div class="order-1">
        <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
          {{ if site.Params.logo_desktop }}
          <img width="{{site.Params.logo_desktop_width}}" class="d-sm-block d-none" src="{{ site.Params.logo_desktop | absURL }}">
          <img width="{{site.Params.logo_mobile_width}}" class="d-sm-none" src="{{ site.Params.logo_mobile | absURL }}">
          {{ else }}{{.Title}}{{end}}
        </a>
      </div>

      {{if not .IsHome }}
      <form class="form-inline search-wrapper order-3 order-lg-2" action="{{ `search` | relLangURL }}">
        <input id="search-by" name="s" type="search" class="form-control" placeholder="Search here ...">
        <button class="border-0 bg-white" type="submit"><i class="ti-search"></i></button>
      </form>
      {{ end }}
      <div class="d-flex order-2 order-lg-3">
        {{ with site.Params.navigation_button_bordered }}
        {{ if .enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .link | absURL }}" {{.attribute | safeHTMLAttr}} class="btn btn-sm btn-outline-primary me-3">{{ .label }}</a>
        {{ end }}
        {{ end }}

        {{ with site.Params.navigation_button_solid }}
        {{ if .enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .link | absURL }}" {{.attribute | safeHTMLAttr}} class="btn btn-sm btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}